*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
    font-size: large;
    background-color:  rgb(238, 238, 241);
    
}
.header1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    text-decoration: none;
    list-style: none;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1rem;
}
a{
    color: black;
}
.maintopic{
    background-color:  rgb(238, 238, 241);
}
#main{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4rem;
    font-size: 30px;
    padding-right: 10rem;
}
#mainpara{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    font-size: 15px;
    margin-right: 9rem;
}
.header1{
    display: none;
}
.mainimage{
   
   display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
 #second{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
    gap: 2rem;
 } 
#second .container{
    padding-right: 30rem;
    margin-left: 30rem;
 }
/* Styles for screens between 576px and 767.98px (Small devices) */
@media (min-width: 576px)  {
    /* Your styles for small screens go here */
    
}

/* Styles for screens between 768px and 991.98px (Medium devices) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles for medium screens go here */
    #main{
        font-size: 50px;
    }
    #mainpara{
        font-size: 30px;
    }
    .header1{
        display: flex;
    }
    #menu{
        display: none;
    }
    .mainimage{
       margin-left: 40rem;
       padding-top: 4rem;
    }
}

/* Styles for screens between 992px and 1199.98px (Large devices) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles for large screens go here */
    .mainimage{
       margin-left: 50rem;
       padding-top: 4rem;
    }
    #menu{
        display: none;
    }
    .header1{
        display: flex;
    }
}

/* Styles for screens 1200px and larger (Extra Large devices) */
@media (min-width: 1200px) {
    /* Your styles for extra large screens go here */
    .mainimage{
        margin-left: 40rem;
        padding-top: 4rem;
     }
     #menu{
        display: none;
    }
     .header1{
        display: flex;
    }
}